:root {
	--site-main-background:#fff;
	--site-accent-color:hsl(207, 87%, 9%);
}


* {
	box-sizing:border-box;
}

body {
	margin:0;
	padding:0;
	background:#0f0f0f;
	font-family: Calibri;
}

.calc-body {
	background:black;
	border-radius:12px;
	color:white;
	margin:50px auto;
	width:406px;
	padding:20px;
	gap:20px;
	display:flex;
	flex-direction: column;
	filter: drop-shadow(1px 1px 1px #1088eb);
}

.results {
	padding:40px 10px 10px;
	border-bottom:2px solid black;
	display:flex;
	flex-direction:column;
	background:#15141f;
	border-radius:8px;
	overflow-wrap: break-word;
	text-align: right;
}

.currNumber {
	align-self: flex-end;
	font-size:2.6em;
	margin:5px;
	max-width: 100%;
	min-height: 36px;
}

.buttons {
	display:grid;
	grid-template-columns:repeat(4, 90px);
	grid-auto-rows:90px;
	gap:2px;
}

button {
	border:none;
	font-size: 1.8em;
	background:transparent;
	color:#1088eb;
	border-radius:6px;
	background:#15141f;
}


button:hover {
	cursor:pointer;
	opacity:0.9;
}


.op,
.clear {
	color:#fff;
	background:var(--site-accent-color);
}

.pending {
	display:flex;
	flex-wrap: wrap;
	max-width: 100%;
	align-items:flex-end;
	justify-content:flex-end;
	font-size:1.8em;
	color:#ccc;
	gap:5px;
}

.prevNumber {
	font-size:1.6em;
}

#equals{
	background:#1088eb;
	color:white;
	grid-column:4;
	grid-row:4/6;
}

.zero {
	grid-column:1/3;
}